# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Ignore all compiled Java class files
*.class

# Ignore all build archives (JARs, WARs)
*.jar
*.war

# Ignore build target directories (for Maven and Gradle)
target/
build/

# Ignore all compiled Java class files
*.class

# Ignore all build archives (JARs, WARs)
*.jar
*.war

# Ignore build target directories (for Maven and Gradle)
target/
build/

# Ignore target folders in the root and all sub-modules
target/
*.class
*.jar